:root {
    --yellow-burnt: #DAA520;
    --purple: #6A0DAD;
    --pink-light: #FFC0CB;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 5px;
    background-color: var(--pink-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Evitar rolagem extra se não necessário */
  }
  
  .login-container {
    background-color: var(--yellow-burnt);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-title {
    color: var(--purple);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--purple);
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--purple);
    border-radius: 5px;
  }
  
  .login-button {
    background-color: var(--purple);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: var(--yellow-burnt);
    color: var(--purple);
  }
  