/* Adiciona um espaço inferior ao AppBar para garantir que o conteúdo não fique atrás */
.MuiAppBar-root {
  margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

/* Adiciona um espaçamento superior para a div community-container */
.community-container {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
  padding: 20px; /* Adiciona um padding interno se necessário */
}
